include README.md
include LICENSE
include COMMERCIAL_LICENSE.md
include pyproject.toml
include setup.py
recursive-include src *.py
recursive-include src *.html
recursive-include src *.js
recursive-include src *.css
recursive-include src *.json
