include LICENSE
include README.md
recursive-include src/gavvy_salesmaster/core/web *.html *.js *.css *.json
graft src/gavvy_salesmaster/core/web
recursive-exclude tests *
global-exclude __pycache__
global-exclude *.pyc
